* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    
  }

  header {
    position: relative;
  }
  #background_hyd {
    width: 100%;
  }
  .circle-header {
    background-color: rgba(0, 132, 255, 0.6);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 3em;
    margin: 2em;
    position: absolute;
    top: 0;
    left: 0;
  }

 

  h1 {
    padding: .5em;
    text-align: center;
    color: white;
  } 

  p {
    padding: 1em;
    text-align: center;
    color: white;
  }

  /* Navigation Bar Styles */
  .navbar {
    background-color: #A3DCEB; /* Soft blue background */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #E3F4F9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Small shadow for the logo */
  }

  .menu {
    display: flex;
    gap: 30px;
  }

  .menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    position: relative;
  }

  .menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  .menu a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  /* Optional: Add hover effect for links */
  .menu a:hover {
    color: #007BFF; /* A soft blue hover color */
  }

  /* .topics-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  td {
    padding: 10px 0;
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  td:last-child {
    border-bottom: none;
  }

  tr:hover td {
    background-color: #f9f9f9;
  } */